<div 
  id="<%= dom_id catalog %>"
  data-react-component="CatalogItemDetails" 
  data-props="<%= {
    id: catalog.id,
    product_name: catalog.product_name,
    description: catalog.description,
    price: catalog.price,
    currency: catalog.currency,
    quantity: catalog.quantity,
    created_at: catalog.created_at.to_s,
    user_name: catalog.user_name,
    email: catalog.email,
    phone: catalog.phone,
    country: catalog.country,
    region: catalog.region,
    city: catalog.city,
    product_category: catalog.product_category,
    active: catalog.active
  }.to_json %>"
>
</div>
