<p style="color: green"><%= notice %></p>

<% content_for :title, "Catalogs" %>

<h1><%= I18n.t("catalogs.title") %></h1>

<div id="catalogs">
  <div 
    id="catalog_items_data"
    data-react-component="CatalogIndex" 
    data-props='<%= @catalog_items_data.to_json %>'
  >
  </div>
</div>
