<p style="color: green"><%= notice %></p>

<% content_for :title, "Catalogs" %>

<h1><%= I18n.t("catalogs.title") %></h1>

<div id="catalogs">
  <div class="row">
    <div class="col">
      <% @catalogs.each do |catalog| %>
        <%= render "catalogs/catalog_card", catalog: catalog %>
      <% end %>
    </div>

    <div class="col">
      <h2><%= I18n.t("catalogs.title") %></h2>
    </div>
  </div>
</div>
