<% content_for :title, "New catalog item" %>

<div class="d-flex justify-content-end">
  <%= link_to I18n.t("catalogs.actions.back_to_catalogs"), catalogs_path, class: "btn btn-outline-secondary btn-sm" %>
</div>

<h1><%= I18n.t("catalogs.new.title") %></h1>

<%= render "form", catalog: @catalog %>
