<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-end">
  <%=
    link_to I18n.t("catalogs.actions.back_to_catalogs"),
    catalogs_path, 
    class: "btn btn-outline-secondary btn-sm me-2" 
  %>

  <% if admin_signed_in? %>
    <%=
      button_to I18n.t("catalogs.actions.delete"),
      @catalog,
      method: :delete,
      class: "btn btn-danger btn-sm"
    %>
  <% end %>
</div>

<%= render @catalog %>
